.sort-filter-div {
  font-family: 'Roboto', sans-serif;
  margin: 30px auto;
  margin-bottom: 0;
  height: 40px;
  width: 80%;
  max-width: 1250px;
}

.filter-div {
  float: left;
}

.sort-div {
  float: right;
}

.sort-select, .sort-btn {
  font-family: 'Roboto', sans-serif;
  height: 30px;
  border-radius: 3px;
}

.sort-btn {
  width: 30px;
}

.sort-btn {
  background: white;
  border: 1px solid grey;
  cursor: pointer;
}

.sort-btn:hover {
  background: rgb(0, 153, 255);
  color: white;
  border: 1px solid rgb(0, 153, 255);
  outline: none;
}

#clear-filter-btn:hover, #clear-sort-btn:hover {
  background: rgb(199, 55, 36);
  color: white;
  border: 1px solid rgb(199, 55, 36);
}

#apply-filter-btn:hover {
  background: rgb(49, 173, 97);
  color: white;
  border: 1px solid rgb(49, 173, 97);
}
