.navbar {
  height: 80px;
  padding: 30px 10px 10px 10px;
  text-align: center;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 450px) {
  .navbar {
    height: 60px;
  }

  .navbar-logo-div img {
    width: 300px;
  }
}
