.main-div, .table-div {
  height: 100%;
}

.table-div {
  padding-bottom: 50px;
}

table {
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  border: 1px solid rgb(255, 223, 194);
  width: 85%;
  max-width: 1250px;
  margin-bottom: 20px;
}

td, th {
  padding: 5px;
  border: 1px solid rgb(255, 223, 194);
}

th {
  font-size: 14px;
  color: rgb(255, 255, 255);
  background: rgb(250, 145, 48);
}

td {
  color: rgb(75, 75, 75);
}

tr:first-child th {
  border-top: 0;
}

tr:last-child td {
  border-bottom: 0;
}

tr td:first-child, tr th:first-child {
  border-left: 0;
}

tr td:last-child, tr th:last-child {
  border-right: 0;
}

/* "No employees to display" message */
#no-employees {
  text-align: center;
  padding: 50px;
  font-size: 30px;

}

/* Left/right mobile th buttons */
.th-btn {
  display: none;
  border: none;
  background: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* Mark.js highlight colour*/
mark {
  background: rgb(255, 171, 45);
}

/* ------- MEDIA QUERIES ------- */
@media (max-width: 950px) {
  th, td {
    font-size: 13px;
  }
}

@media (max-width: 550px) {
  table {
    width: 95%;
  }

  .table-div {
    max-height: 100vh;
    overflow-y: auto;
  }

  .hide-th, .hide-td {
    display: none;
  }

  .th {
    position: sticky;
    top: 0;
    color: white;
  }

  th, td {
    font-size: 12px;
  }

  th {
    padding-left: 0;
    padding-right: 0;
  }

  .th-btn {
    display: inline-block;
  }

  .first-th, .last-th {
    top: 25px;
  }
}
