table {
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid rgb(226, 226, 226);
  /* border-left: none;
  border-right: none; */
  border-radius: 5px;
  width: 80%;
  max-width: 1250px;
}

td, th {
  padding: 5px;
  border: 1px solid rgb(226, 226, 226);
}

th {
  font-size: 14px;
  color: rgb(58, 58, 58);
}

td {
  color: rgb(75, 75, 75);
}

tr:first-child th {
  border-top: 0;
}

tr:last-child td {
  border-bottom: 0;
}

tr td:first-child, tr th:first-child {
  border-left: 0;
}

tr td:last-child, tr th:last-child {
  border-right: 0;
}